<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="modeldrivenpin"
        name="ModelDriven Pin Plugin"
        version="1.0"
        provider-name="modeldriven.hu"
        class="hu.modeldriven.cameo.pin.PinPlugin">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="pin.jar"/>
    </runtime>
</plugin>